ol {
  display: block;
  width: 768px;
  margin: 0 auto;
}

ul {
  padding: 20px 0 0;
  list-style: none;
}

li {
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

table,
th, 
td {
  border: 1px solid #000;
}

th,
td {
  padding: 5px;
}

form {
  padding-bottom: 20px;
}

.button-back {
  padding-bottom: 20px;
}

.desc {
  font-style: italic;
  padding-bottom: 20px;
}

.title {
  font-weight: bold;
  padding-bottom: 20px;
}

.temperature {
  padding-bottom: 20px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.input-group {
  padding-bottom: 10px;
}

.input-group label {
  display: block;
}

.input-small {
  width: 30px;
}
